<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% include ./partials/navbar %>


    <%- body -%>
    <hr>

    <% include ./partials/footer %>
  </body>
      <% include ./partials/javascript %>

</html>
